{
	"presets": [
    ["@babel/preset-env",
      { 
      "modules": false,
      "loose": true,
      "useBuiltIns": "usage",
      "corejs": 3
      }
    ], 
	"@babel/preset-react"
	],
	"plugins": [
		"react-hot-loader/babel",
		"@babel/plugin-proposal-class-properties",
		"@babel/plugin-syntax-dynamic-import"
	],
	"env": {
		"test": {
			"plugins": ["dynamic-import-node"]
		}
	} 
}