body {
  background-color: #70718e;
  font-family: monospace;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  color: #fff;
}
